@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster&family=Lora:ital@0;1&family=Poppins:wght@300;400&family=Unbounded&display=swap');


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    font-family: Poppins;
    display: flex;
}

.sign-in {
   display: flex;
   align-items: center;
   justify-content: center;
    border: solid;
    width: 50%;
}

form {
    display: grid;
    gap: 40px;
    text-align: center;
}

.sign-in_image {
    background-size: cover;
    width: 50%;
    background-image: url("https://i.pinimg.com/564x/bb/95/82/bb9582fc088b1f84abd7b36519e92762.jpg");
}

button {
    background-color: black;
    color: white;
    border-radius: 8px;
    cursor: pointer;
}

@media (max-width: 580px) {
    .sign-in_image {
        width: 100%;
    }
    .sign-in {
       width: 20rem;
       height: 20rem;
       border-radius: 5px;
       background-color: white;
    }
    .sign-in_image {
        display: none;
    }
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-image: url("https://i.pinimg.com/564x/bb/95/82/bb9582fc088b1f84abd7b36519e92762.jpg");
    }
}